#one{

    margin: 10px;
    padding: 10px;
    font-family: century;
    background-color: rgb(8, 8, 8);
    }
  


li  {
    color: white;
    display: inline;
    margin: 100px;
    }

#two{
    margin: 10px;
    padding: 10px;
    font-family: century;
    background-color: rgb(8, 8, 8);
    }